{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles\/(?!docfx\.vendor\.css|docfx\.vendor\.js|lunr\.js|lunr\.min\.js).*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html class="theme-dark">
  
  {{>partials/head}}

  <body>

        <div class="body-content">

            <nav id="sidebar" role="navigation">

                <div class="sidebar">
                    
                    {{>partials/navbar}}

                    {{^_disableToc}}
                        <div class="sidebar-item-separator"></div>

                        {{>partials/toc}}
                    {{/_disableToc}}

                </div>

                {{^_disableFooter}}
                    {{>partials/footer}}
                {{/_disableFooter}}

            </nav>

            <main class="main-panel">

                <div class="blackout desktop-hide"></div>

                {{^_disableBreadcrumb}}
                    {{>partials/breadcrumb}}
                {{/_disableBreadcrumb}}

                <div class="content-region" role="main">

                    <div class="content-column {{type}}">

                        {{^_disableAffix}}
                            {{>partials/affix}}
                        {{/_disableAffix}}

                        {{#_enableSearch}}
                            {{>partials/searchResults}}
                        {{/_enableSearch}}

                        <article class="content wrap hide-when-search" id="_content" data-uid="{{uid}}">

                            {{^_disableContribution}}
                                <span class="small pull-right article mobile-hide" style="margin: 0;" data-noindex>
                                    <ul class="subnav contribution">
                                        {{#sourceurl}}
                                            <li>
                                                <a href="{{sourceurl}}">{{__global.viewSource}}</a>
                                            </li>
                                        {{/sourceurl}}
                                        {{#docurl}}
                                            <li>
                                                <a href="{{docurl}}">{{__global.improveThisDoc}}</a>
                                            </li>
                                        {{/docurl}}
                                    </ul>
                                </span>
                            {{/_disableContribution}}

                            {{!body}}

                        </article>
                    </div>

                </div>

            </main>

        </div>

        {{>partials/scripts}}

    </body>

</html>
